.comments {
  margin-bottom: 67px;
  padding: 0;

  .comments__content {
    width: 1220px;
    margin: 0 auto;
  }

  .comment-textarea {
    padding: 10px 19px;
    box-sizing: border-box;
    width: 1220px;
    height: 174px;
    outline: none;
    resize: none;
    border: 1px solid #e7e7e7;
    font-family: $oswald;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
