.contacts {
  padding: 0;
  margin-bottom: 69px;
}

.contacts__content {
  width: 1220px;
  margin: auto;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--email {
    width: 569px;
    position: relative;
  }

  &--tel {
    width: 572px;
    position: relative;
  }

  svg {
    position: absolute;
    right: 20px;
  }

  .text-input--contacts:focus svg {
    fill: #008000;
  }
}

.email-label {
  margin-right: 20px;
}

.tel-label {
  margin-right: 15px;
}

.text-input--contacts {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  flex-grow: 1;
}
