.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
  border: none;
  padding: 0;
}

//десктопные стили

// .main-info {
//   display: flex;
//   justify-content: space-between;
//   gap: 80px;
//   width: 1220px;
//   margin: 0 auto;
//   border: none;
//   padding: 0;
//   margin-bottom: 69px;
// }
