.main-info {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 1220px;
  margin: 0 auto;
  border: none;
  padding: 0;
  margin-bottom: 69px;
}

.parameters {
  width: 569px;

  .parameters__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .parameters__item {
    display: flex;
    align-items: center;
  }

  .parameters__text-input {
    box-sizing: border-box;
    height: 52px;
    border: 1px solid #e7e7e7;
    flex-grow: 1;
  }

  label {
    margin-right: 14px;
  }
}

.programm-checkbox {
  width: 568px;
  border: 1px solid #e7e7e7;

  .programm-checkbox__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 25px;
    padding-bottom: 29px;
    padding-left: 28px;
  }

  .programm-checkbox__item {
    height: 40px;

    .control-label {
      color: #000000;
    }
  }
}
