.copyright__link {
  @include arial-text;
  line-height: 18px;
  color: $dark-grey;
  display: flex;
  align-items: center;
  gap: 22px;

  &:hover path {
    fill: $base-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:active path {
    fill: $base-green;
  }
}
