.location {
  width: 320px;
  margin: 0 auto;
}

.location__wrapper {
  width: 320px;
  height: 474px;
}

.location-map {
  &--desktop {
    display: none;
  }
}

//десктопные стили

// .location__wrapper {
//   width: 1440px;
//   height: 400px;
//   margin: 0 auto;
//   position: relative;
// }

// .location__pin {
//   position: absolute;
//   top: 131px;
//   left: 908px;
// }
