.main-header {
  width: 320px;
  height: 66px;
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0 auto;

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $basic-white;
    width: 280px;
    margin: 0 auto;
  }

  // &--index {
  //   margin-bottom: 32px;
  // }

  // &--form {
  //   margin-bottom: 74px;
  // }

  // &--catalog {
  //   margin-bottom: 74px;
  // }
}
