.demonstration {
  width: 280px;
  position: relative;

  .demonstration__image {
    &--fat {
      margin-bottom: 25px;
    }

    &--skinny {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

//десктопные стили

// .demonstration {
//   width: 591px;
//   position: relative;

//   .demonstration__image {
//     &--fat {
//       margin-bottom: 25px;
//     }

//     &--skinny {
//       position: absolute;
//       top: 0;
//       right: 0;
//     }
//   }
// }
