
.demonstration-control__wrapper {
  position: relative;
  max-width: 592px;
  height: 40px;
  box-sizing: border-box;
  padding: 3px 83px;
  display: flex;
  align-items: center;
  font-family: $oswald;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

  &::before {
    content: "было";
    position: absolute;
    left: 10px;
    border-bottom: 1px dotted $basic-grey;
  }

  &::after {
    content: "стало";
    position: absolute;
    right: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  }

  &:hover .demonstration-control__range-toggle {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }

  &:hover::before,
  &:hover::after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active .demonstration-control__range-toggle {
    border-color: $base-green;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }

  &:active::before,
  &:active::after {
    border-bottom: none;
  }

  .demonstration-control__range-scale {
    position: absolute;
    width: 426px;
    height: 6px;
    background-color: $basic-grey;
    border-radius: 6px;
  }

  .demonstration-control__range-toggle {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border: 1px solid $basic-grey;
    border-radius: 50%;
    box-sizing: border-box;
    top: -14px;
    left: 50%;
    margin-left: -17px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -4px;
      width: 8px;
      height: 8px;
      background-color: $base-green;
      border-radius: 50%;
    }
  }
}
